body {
    @apply bg-gray-800;
    overflow-y: scroll;
}

.btn-grad {
  background: rgb(52,85,255);
  background: linear-gradient(212deg, rgba(52,85,255,1) 0%, rgba(94,55,240,1) 29%, rgba(216,75,135,1) 88%, rgba(252,70,107,1) 100%);
}

.btn-grad-2 {
  background: rgb(52,85,255);
  background: linear-gradient(212deg, rgba(52,85,255,1) 0%, rgba(94,55,240,1) 10%, rgba(216,75,135,1) 60%, rgba(252,70,107,1) 100%);
}